/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

body {
    
    font-family: 'Andada Pro', serif;
}

#container {
    width: 375px;
    height: 90vh;
    margin: auto;
    padding: 2px 10px;
    background-color: #4caf50;
    text-align: center;
}

input {
    width: 60%;
    height: 35px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: large;
}

#result {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 25px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

b {
    color: red;
}

#btnCalculate {
    cursor: pointer;
    width: 50%;
    height: 55px;
    border-radius: 8px;
    
}

#btnCalculate:hover {
    background-color: blue;
    color: white;
}

#btnReset {
    cursor: pointer;
    width: 25%;
    height: 55px;
    border-radius: 8px;
}

#btnReset:hover {
    background-color: red;
    color: white;
}

footer {
    padding-top: 45%;
}